[submodule "components/ttn-esp32"]
	path = components/ttn-esp32
	url = https://github.com/manuelbl/ttn-esp32.git
[submodule "components/libnmea-esp32"]
	path = components/libnmea-esp32
	url = https://github.com/igrr/libnmea-esp32.git
